body {
  font-family: Questrial;
  margin: 0;
  padding: 0;
  height: auto;
}

/* Header style */
header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0px;
  /* position: absolute; */
  margin: 0 40px;
  padding: 0 0 0 5px;
  top: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  float: left;
  margin: 0 6px 0 6px;
}
li > a {
  color: black;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}
li > a.active {
  background: #ff5672;
  color:#f2f2f2;
}

/* Carouser styles */

.carousel {
  align-items: center;
  background: #fc758c;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}
.carousel_title > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 8px;
  margin: 0;
}
.carousel_body {
  width: 40%;
}
.carousel_body > p {
  font-size: 11px;
  text-align: center;
  letter-spacing: 3px
}
.carousel_action {
  margin-top: 20px;
}
.carousel_action > button {
  border: none;
  color: #ff5672;
  padding: 8px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
}

/* Products Section Styles */

.products_section {
  margin-top: 50px;
}

.products_section-views {
  display: flex;
  justify-content: center;
  width: 100%;
}
.products_section-views > button {
  background: transparent;
  border: none;
  color: #ff5672;
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px 0 5px;
}
.products_section-filters {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

/* Product Card */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 150px;
}
.card {
  background-color: #f2f2f4;
  width: 200px;
  height: 200px;
}

/* Fonts import */

@font-face {
  font-family: Questrial;
  src: url('./assets/fonts/Questrial-Regular.ttf');
}



